body
{
margin:0;
}

p
{
color: red;	
}

ul
{
list-style-type: none;
width:100%;

}

li
{
float:left;
}

li a
{
color:black;
text-align: center;
padding: 8px 16px;
}

li a:hover
{
background-color: yellow;
text-decoration: underline;
}

h1
{
text-align:center;
}

.footer
{
position: fixed;
left: 0;
bottom: 0;
background-color:black;
color: white;
width: 100%;
text-align: center;
}
